
.newtitle{
  margin-top: 5%;
}

.btn{
  background-color: #74b49b;
  border: none;
}

.btn-primary, .btn-primary:link, .btn-primary:visited {
   background-color: #74b49b;
   border: none;
   border-radius: 3px;

   color: #fff;
  letter-spacing: .1em;
   cursor: pointer;
   position: relative;
   text-align: center;
   text-transform: uppercase;
   vertical-align: middle;
   white-space: nowrap;
  transition-property: transform;
  transform: translateZ(0);
  transition: box-shadow 0.5s cubic-bezier(0.390, 0.500, 0.150, 1.360);

   &:hover {
     box-shadow: 0 0 0 28px rgba(0,0,0,0.25) inset;
   }

  &:active {
    transform: translateY(3px);
  }
 }
.btn-primary:hover {
    color: #fff;
    background-color: #74b49b;
    border-color: none;
}
